@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
        font-family: 'Roboto', sans-serif;
    }

    .header-top {
        border-bottom: 1px solid #a5a4a4;
        width: 100%;
    }

    .borderBox{
        border: 1px solid #a5a4a4;
    }

    .line-space-right {
        border-right: 1px solid #a5a4a4;
    }
    .line-space-bot {
        border-bottom: 1px solid #a5a4a4;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    .title{
        text-transform: capitalize;
        text-align: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 1;
        padding: 15px;
    }   
}