@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    *{
        font-family: 'Calistoga', cursive;
    }
    .header-top {
        border-bottom: 1px solid #a5a4a4;
        width: 100%;
    }

    .line-space-right{
        border-right : 1px solid #a5a4a4;
    }
    /* ... */
}